header{
    background-color: #F1F3F7;
    height: 70px;
    width: 1060px;
    position: relative;
    margin: 0 auto;
    h3{
       position: absolute;
       left: 50px;
       top: 24px;
    }
}

.listInfo{
    width: 1060px;
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 30px;
}